<div id="sns">

    <div class="container">

        <h2><i class="icon fa fa-comment"></i> SNS</h2>

        <div class="row align-items-center">

            <div class="col-lg-8">
                <div class="container-fluid">

                    <div class="row">
                        <div class="col-lg-8">
                            <p>フリーのシステムエンジニアです。</p>
                            <p>
                                最近はiOSを中心に開発を行っています。ゲーム業界での経験が長く、ラフなプロジェクトの雰囲気が好きだったりします。
                                ビューで提示された要求仕様からシステム的な要件を割り出し、データベースやAPI、クラス構造に落とし込んでいくのが得意です。
                                他にも自動車業界や医療系、不動産系などのサービス開発経験があります。
                            </p>
                            <p>
                                個人では、地元である北海道苫小牧市を運行するバスの時刻表アプリケーションや、全国のビリヤード場の営業/イベント情報サービスなど、趣味に寄るところの開発が多いです。
                                個人経営店舗のホームページ制作なんかもたまにやってます。
                            </p>
                            <p>
                                年に何回か長期休暇で海外旅行に行くのが好きです！
                            </p>
                            <p class="text-right">2020年5月 更新</p>
                        </div>
                    </div>


            <div class="col-lg-4 offset-lg-0 col-md-8 offset-md-2 text-center">
                <div class="border rounded">
                    <a class="twitter-timeline" data-width="100%" data-height="400" data-theme="light" href="https://twitter.com/XIANG_BLQ?ref_src=twsrc%5Etfw">Tweets by XIANG_BLQ</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </div>

        </div>

    </div>

</div>
