<div id="sns">

    <div class="container">

        <h2><i class="icon fa fa-comment"></i> SNS</h2>

        <div class="row align-items-center">

            <div class="col-lg-4 offset-lg-0 col-md-8 offset-md-2 text-center">
                <div class="border rounded">
                    <a class="twitter-timeline" data-width="100%" data-height="400" data-theme="light" href="https://twitter.com/XIANG_BLQ?ref_src=twsrc%5Etfw">Tweets by XIANG_BLQ</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </div>

        </div>

    </div>

</div>
