@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    p {
      @apply my-5;
    }
    ::selection {
        background: #dddddd;
        color: #000;
    }
    
    ::-moz-selection {
        background: #d3d3d3;
        color: #000;
    }
    
    ::-webkit-selection {
        background: #d3d3d3;
        color: #000;
    }
    li{
       @apply py-4;
    }
    .m-h-264{
        min-height: 731px;
    }
    .timeline{
        list-style-type: none;
    }
    .ml-ao{
        margin-left:-5px;
    }
  }

